<div class="top">
	<div class="row">
	
		<div class="large-8 small-8 columns small-centered">
			<div class="title-sub2">Welcome to</div>
			<div class="name">Hack the Beanpot</div>

			<p>A Bitcoin accepting Keurig built at <a href="https://twitter.com/HackBeanpot">HackBeanpot</a>. We tore apart a Keurig, put an Arduino Uno in it with a wifi sheild, an IR sensor and some LEDs. We put it back together nicely and added a Bitpay integration. It now makes you a cup of coffee when you pay in Bitcoin and place your mug in it.</p>

			<div class="donate">
				<div class="button-m dc"><span class="price"> <span class="free"><%= @tip %></span> <span class="cup"></span></span><span class="text">Donate a Coffee to our Machine</span></div>

				<div class="current-price">1 coffee = BTC 0.0015</div>
				
				<%= image_tag("qrcode2.png") %>

				<div class="wallet">1HAomFh557tvDnNGfJNkybS3fbTrxbmJQd</div>
			</div>


	</div>

</div>

<div class="how">
	<div class="row">
		<h2>How We Built the Bitcoin Keurig Machine</h2>

		<div class="large-8 small-10 columns small-centered">
			<p>Here are some photos of our build. We will be writing a step by step guide in the next few days. Photos will continue to be posted until we pitch it at the hackathon later today. Enjoy!</p>
		</div>

		<div class="large-10 small-10 columns small-centered">
			<%= image_tag("img2.jpg") %>
		</div>

		<div class="large-10 small-10 columns small-centered">
			<%= image_tag("img3.jpg") %>
		</div>

		<div class="large-10 small-10 columns small-centered">
			<%= image_tag("img4.jpg") %>
		</div>

		<div class="large-10 small-10 columns small-centered">
			<%= image_tag("img5.jpg") %>
		</div>

		<div class="large-10 small-10 columns small-centered">
			<%= image_tag("img6.jpg") %>
		</div>

		<div class="large-10 small-10 columns small-centered">
			<%= image_tag("img7.jpg") %>
		</div>
		
		<div class="large-10 small-10 columns small-centered">
			<%= image_tag("img1.jpg") %>
		</div>


	</div>
</div>

<div class="by">
	<div class="row">
		<h4>Created at <a href="https://twitter.com/HackBeanpot">@HackBeanpot</a> by <a href="https://twitter.com/zachferland">@zachferland</a> and <a href="http://andrewsousa.com">Andrew Sousa</a></h4>
	</div>
</div>