<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Coffee Hack</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
   <link href='http://fonts.googleapis.com/css?family=Oleo+Script|Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <% unless flash.empty? %>
      <div id="notice">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>">
            <%= value %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag "application" %>



  </body>
</html>